<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='survey_complete.css') }}">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="survey-complete">
                    <h1 class="survey-title">Survey Complete!</h1>
                    <p class="survey-message">Thank you for your participation.</p>
                    <p class="survey-result">Survey says your Facial Baumann Type is <span class="baumann-type">{{baumann_type}}</span></p>
                    <p class="survey-result">You think your Facial Baumann Type is <span class="baumann-type">{{meta_baumann_type}}</span></p>
                    <button class="button survey-button" type="button" onclick="location.href='/logout'">Retry Survey</button>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>    
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>
</html>
