<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='survey_complete.css') }}">
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="survey-complete">
                    <div class="title">
                        <h1 class="survey-title">피부 MBTI 결과</h1>
                    </div>
                    <!-- <p class="survey-message">Thank you for your participation</p> -->
                    <p class="survey-result">스스로 생각하는 피부타입은 <span class="baumann-type">{{meta_baumann_type}}</span></p>
                    <p class="survey-result">당신의 피부타입은 <span class="baumann-type">{{baumann_type}}</span></p>
                </div>
                <div class="skills_bar">
                    {% for percent in baumann_percent %}
                    <div class="percent_box">
                        <div class="bar">
                            <div class="percent_value_box">
                                <span class="left_percent_value">{{percent.0}}</span>
                                <span class="right_percent_value">{{percent.1}}</span>
                            </div>
                            {% if percent.2 > 50%}
                            <div class="progress_line percent">
                                <span class="left_percent" style="
                                    width: {{ percent.2}}%; 
                                    transform-origin:left; 
                                    left:0;" data-percent="{{ percent.2 }}"></span>
                            </div>
                            {% else %}
                            <div class="progress_line percent">
                                <span class="right_percent" style="
                                    width: {{ 100 - percent.2}}%; 
                                    transform-origin:right; 
                                    right:0;" data-percent="{{ 100 - percent.2 }}"></span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="button_box">
                    <button class="button survey-button" type="button" onclick="location.href='/logout'">Retry
                        Survey</button>
                </div>
            </div>

            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>