<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Progress Bar in HTML and CSS</title>
        <link rel="stylesheet" href="../static/tt.css" />
    </head>
    <body>
        <div class="skills_bar">
            <div class="bar">
                <div class="info">
                    <span>HTML</span>
                </div>
                <div class="progress_line html"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>CSS</span>
                </div>
                <div class="progress_line css"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>JS</span>
                </div>
                <div class="progress_line"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>BootStrap</span>
                </div>
                <div class="progress_line"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>React</span>
                </div>
                <div class="progress_line"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>NodeJS</span>
                </div>
                <div class="progress_line"><span></span></div>
            </div>
        </div>
    </body>


</html>