<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Survey Complete!</h1>
    <p>Thank you for your participation.</p>
    <p>Your Facial Baumann Type is {{baumann_type}}</p>
    <!-- <a href="{{ url_for('user_info') }}"><button type="button" onclick="location.href='/logout'">Retry Survey</button></a> -->
    <button type="button" onclick="location.href='/logout'">Retry Survey</button>
</body>
</html>
